.App{
  text-align: center;
}
/* loading css */
.loader-wrapper{
 margin: 7px 0px 0px 0px;
}
/* component css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
}
.inner-wrapper{
  background-color: #FFFFFF;
}
.outer-wrapper{
  background-color: #F9F9F9;
  padding: 40px;
  width: 20%;

}

.input-group>input,
.input-group>button {
  width: 50px;
  padding: 25px 20px;
  border: none;
  box-shadow: none;
  border: 1px solid #B34040;
}

.input-group>input {
  width: 50px;
  padding: 25px 0px;
  text-align: center;
}

.input-group {
  padding-top: 10px;
}

.button-minus {
  border-radius: 7px 0px 0px 7px;
}

.button-plus {
  background-color: #B34040;
  border-radius: 0px 7px 7px 0px;
  color: white;
}
.text-wrap{
  padding: 5px 0px;
}